<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:glEsVersion="0x00020000"/>


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:name=".di.HiltApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="31">

        <activity
           android:hardwareAccelerated="true"
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.example.modderz"
                    android:scheme="https" />

            </intent-filter>

        </activity>
        <activity android:name=".cameraNDK.CameraNDKNativeActivity" >
            <meta-data android:name="android.app.lib_name"
                android:value="camera_stream" />
        </activity>

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <profileable
            android:shell="true"
            tools:targetApi="29" /> <!-- If you want to disable android.startup completely. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
        <service
            android:name="com.example.clicker.services.BackgroundStreamService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false">
        </service>
        <service
            android:name="com.example.clicker.services.ScreenRecordingService"
            android:foregroundServiceType="mediaProjection"
            android:exported="false">
        </service>
        <!-- If this receiver listens for broadcasts sent from the system or from
     other apps, even other apps that you own, set android:exported to "true". -->
        <receiver android:name=".broadcastReceivers.ShutDownBroadcastReceiver" android:exported="false">
        </receiver>

        <!-- FileProvider used to share media with other apps -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />


<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />-->
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO"/>-->
<!--    <uses-permission android:name="android.permission.PROJECT_MEDIA"/>-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->



    <!--    <uses-feature android:name="android.hardware.camera" />-->
<!--    <uses-permission android:name="android.permission.CAMERA" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="32" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="32" />-->





</manifest>